<h1>Listing Accounts</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="2" ></th>
  </tr>
 
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.name %></td>
      <td><%= account.email %></td>
      <td><%= link_to 'Show', account_path(account) %></td>
      <td><%= link_to 'Edit', edit_account_path(account) %></td>
    </tr>
  <% end %>
</table>